*{
  font-family: Georgia, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --cardinal: #b2313aff;
    --sage: #cccba5ff;
    --mint: #6fb28eff;
    --orange: #ed8a4eff;
    --dark-purple: #341827ff;  
}

.custom-btn-clr {
background-color: var(--orange);
border-radius: 7px;
box-shadow: 3px 3px 3px var(--cardinal);
}

.custom-btn-clr:hover {
  background-color: var(--cardinal);
}

.custom-btn-clr:focus{
  background-color: var(--dark-purple);
  color: var(--sage);
}

.button-background {
  background-color: var(--sage);
  border: ridge 6px var(--cardinal);
  border-left: none;
  padding: 6px;
}

.large-article-header {
  background: url("../images/fruit.jpg") no-repeat;
  background-position-x: center;
  background-position-y: bottom;
  background-size: cover;
  height: 500px;
  position: relative;
}

@media screen and (max-width: 638px) {
  .large-article-header {
    height: 333px;
  }
}

.large-article-header-content {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 3.125rem;
  left: 0;
  right: 0;
}

@media screen and (max-width: 39.9375em) {
  .large-article-header-content {
    bottom: 1.25rem;
  }
}

.large-article-header-content .center-container {
  width: 50%;
  margin: 0 auto;
}

@media screen and (max-width: 39.9375em) {
  .large-article-header-content .center-container {
    width: 100%;
    padding: 0 1.25rem;
  }
}

.large-article-header-content {
  color: #fefefe;
}

.large-article-header-content .article-title h1 {
  line-height: 3.125rem;
  color: #fefefe;
  font-weight: 600;
  text-shadow: 5px 5px 3px var(--dark-purple);
}

@media screen and (max-width: 39.9375em) {
  .large-article-header-content .article-title h1 {
    line-height: 1.875rem;
  }
}

.large-article-header-content .article-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}


.social-footer {
  height: 6rem;
  background-color: var(--cardinal);
  color: #fff;
  padding: 1rem;
  font-size: 1.2rem;
}

.social-footer .menu a {
  color: #fff;
  font-size: 1.2rem;
}

.social-footer .menu a:hover {
color: var(--dark-purple);
font-size: 1.2rem;
}

.modal {
  border: solid var(--dark-purple) 3px;
  border-radius: 7px;
}

.modal-header h2 {
  color: white;
  background-color: var(--mint);
  border: solid var(--dark-purple) 3px;
  border-radius: 7px;
  padding: 6px;
  font-family: Georgia, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
